name: Terraform Plan
on:
  pull_request:
    branches: [main]
    paths: ["infra/**"]
jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform Plan
        run: |
          cd infra/envs/prod
          terraform init -backend-config=backend.hcl -reconfigure
          terraform plan -var-file=prod.tfvars
